{% extends "base.html" %} {% block content %}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Radio Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}" />
  </head>
<body class ="yui3-skin-sam" >
  <div class="title" height=100>
    <p>Radio Server</p>
  </div>
  <div>

    <button type="button" id="radio3" onclick="play(radio3);">Radio 3</>
    <button type="button" id="radio4" onclick="play(radio4);">Radio 4</>
    <br>
    <button type="button" id="radio5 live sports extra" onclick="play(radio5sportsextra);">Radio 5 Live Sports Extra</>
    <button type="button" id="radio6" onclick="play(radio6);">Radio 6</>
    <button type="button" id="stop" onclick="stop();">Stop</>

    <button type="button" id="screenoff" onclick="screenoff();">Turn off screen</>
    <button type="button" id="screenon" onclick="screenon();">Turn on screen</>
  </div>
</body>

<footer>
     <script src="{{ url_for('static',filename='radios.js') }}"></script>
</footer>

{% endblock %}
